<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Турнирная таблица</title>
  <link rel="stylesheet" href="/static_tournament/style.css">
</head>
<body>
  <h1>Турнирная таблица</h1>
  <table id="tournament">
    <thead>
      <tr>
          <th>Команда</th>
          <th>Игрок</th>
          <th>Игры</th>
          <th>Победы</th>
          <th>Поражения</th>
          <th>Победы ДВ</th>
          <th>Поражения ДВ</th>
          <th>Очки</th>
          <th>ПГ</th>
          <th>ЗГ</th>
          <th>Р</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <script src="/static_tournament/script.js"></script>
</body>
</html>
